@import url('https://fonts.googleapis.com/css?family=Special+Elite:100,200,300,400,500,600,700,800');

/*index.html*/

.index-background{

height:100vh;
background: url("/assets/images/background.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

display: flex;
align-items: center;
justify-content: center;

position:relative;
} 

.hero-image {
    width:40%;
}

p{
    font-family: 'Special Elite', cursive;
    font-size:40px;
}