@import url('https://fonts.googleapis.com/css?family=Special+Elite:100,200,300,400,500,600,700,800');

/*INDEX.HTML*/

.index-background{

height:100vh;
background: url("/assets/images/index/background.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

display: flex;
align-items: center;
justify-content: center;

position:relative;
} 

.hero-image {
    width:60%;
    box-shadow: 0rem 0rem 1.5rem 0rem rgb(0,0,0,1);
}

.name-font{
    font-family: 'Special Elite', cursive;
    font-size:1.875rem;
    color: rgb(0,0,0,1);
}

.date-font{
    font-family: 'Special Elite', cursive;
    font-size:1.25rem;
    color: rgb(0,0,0,1);
}

.link-font{
    font-family: 'Special Elite', cursive;
    font-size:1.20rem;
    color: rgb(0,0,0,1);
}

a:hover {
color:rgb(116,111,120,1) !important;
  text-decoration:none;
}

/*MAIN.HTML*/

/*Fixed Navbar covered content of sections. Links also did not align. Padding-Top help fix this problem*/
.link-fix{
    padding-top: 5.3rem;
}

/*Navbar*/

.navbar-main-brand{
    font-family: 'Special Elite', cursive;
	font-size: 1.875rem;
    color: rgb(0,0,0,1);
}

.navbar-main a{
    font-family: 'Special Elite', cursive;
	font-size: 1.25rem;
    color: #000000;
    margin-top: 0rem;
    margin-bottom:0rem;
}

.navbar-right-margin{
    margin-right: 0rem;
}

.navbar-color{
    background-color:rgb(209, 200, 171, 1);
    border-bottom:0.2rem solid;
    color:rgb(255, 255, 255, 1);
}

.navbar-image{
    height:5rem;
    border: 0.2rem solid;
    border-image: url(assets/images/main/jack-fairfield-2.jpg);
    color:rgb(255, 255, 255, 1);
}

.navbar-toggler-icon{
    background: url("/assets/images/main/raoc.jpg") no-repeat center;
}

/*Carousel*/

.carousel-text{
    color:white;
}

/*Bio*/

.bio-section, footer{
    background-color:rgb(209, 200, 171, 1);
}

.bio-images{
    width:70%;
}

.bio-section h2{
    font-family: 'Special Elite', cursive;
    font-size:1.875rem;
    color: rgb(0,0,0,1);
    text-align:center;
}
.bio-section p{
    font-family: 'Special Elite', cursive;
    font-size:1rem;
    color: rgb(0,0,0,1);
    text-align:justify;
}

/*Maps*/

.maps-section{
    background-color:rgb(190, 210, 195, 1);
}
.map {
    height: 40rem;
}

#firstHeading{
    font-family: 'Special Elite', cursive;
	font-size: 1.25rem;
    color: #000000;
}

#mainContent{
    font-family: 'Special Elite', cursive;
	font-size: 1rem;
    color: #000000;
}



/*MEDIA QUERIES*/

	/*This Media Query allows for the hero-image to incresse in size for smaller devices. Otherwise to small to see clearly */
	@media(min-width:49.5rem) {
		.hero-image {
			width:33%;
		}
    } 

	/*This Media Query allows for the name-font to decrease in size for smaller devices. Looked too large otherwise */
	@media(min-width:31.875rem) {
		.name-font {
			font-size:2.5rem;
		}
	}

	/*This Media Query allows for the date-font to decrease in size for smaller devices. Looked too large otherwise */
	@media(min-width:31.875rem) {
		.date-font {
			font-size:1.875rem;
		}
	}

/*This Media Query reduces the font size of the navbar main title for smaller devices. Allowing for better spacing against nav links */
    	@media(min-width:56.25rem) {
		.navbar-main-brand {
			font-size:2.5rem;
		}
	}

/*This Media Query reduces the font size of the navbar link titles for smaller devices. Allowing for better spacing against navbar main title */
        	@media(min-width:56.25rem) {
		.navbar-main a {
			font-size:1.875rem;
		}
	}

/*This Media Query reduces margin right of links navbar in order for there to be better spacing on smaller devices */
	@media(min-width:75rem) {
.navbar-right-margin{
    margin-right: 13.75rem;
    }
}

/*This Media Query sets top and bottom margin to 0 to allow for beter spacing in navbar collaspe*/
        	@media(min-width:31.875rem) {
.navbar-main a{
    margin-top: 1rem;
    margin-bottom:1rem;
    }
}

/*This Media Query reduces padding-top to reduce white space on medium and smaller devices*/
        	@media(min-width:56.25rem) {
.link-fix{
    padding-top: 7rem;
    }
}